.main-container {
  background-color: #c0bfbf;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.tab-buttons {
 display: flex;
  margin: 20px;
  border-radius: 20px;
  
}

.tab {
  flex: auto;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 20px;
  margin: 0 5px;
}

.tab.active {
  background-color: #074486;
  color: white;
  font-weight: bold;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-fields input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  border-color: #3080e2;
  font-size: 14px;
}

.submit-btn {
  padding: 12px;
  background-color: #073261;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #004190;
}
